<%- include('../partials/header') %>

<h1 class="form-title">Add item</h1>
<form class="items-form" action="/items/add" method="POST">
  <div class="form-field">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required />
  </div>

  <div class="form-field">
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" min="0" required />
  </div>

  <div class="form-field">
    <label for="unitPrice">Unit Price</label>
    <input
      type="number"
      name="unitPrice"
      id="unitPrice"
      min="0"
      step="0.01"
      required
    />
  </div>

  <div class="form-field">
    <label for="category">Choose a category</label>
    <select name="categoryId" id="categoryId" required>
      <option value="">Select a category</option>
      <% categories.forEach(category => { %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% }) %>
    </select>
  </div>

  <button type="submit">Add</button>
</form>

<%- include('../partials/footer') %>
