<h1>Update item</h1>
<form action="/items/update" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required />

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" min="0" required />

  <label for="unitPrice">Unit Price</label>
  <input
    type="number"
    name="unitPrice"
    id="unitPrice"
    min="0"
    step="0.01"
    required
  />

  <label for="category">Choose a category</label>
  <select name="categoryId" id="categoryId" required>
    <option value="">Select a category</option>
    <% categories.forEach(category => { %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% }) %>
  </select>

  <button type="submit">Add</button>
</form>
